# Caches, logs, and dependencies
.sass-cache/
*.css.map
node_modules
bulma-o-steps*.tgz
npm-debug.log
bulma-steps.scss

# Jekyll cache
.jekyll-cache/

# Visual Studio cache/options directory
.vs/
.vscode/
*.code-workspace

# Windows thumbnail file
Thumbs.db

# Apple directory info file
.DS_Store
